.header--dark {
    background-color: rgb(51,57,64);
    color: rgb(236,236,236);
}

.header__title {
    display: inline;
    font-size: 1.25em;
}

/* Kereső mező */

.header__search {
    display: inline;
}

.search__input {
    border-radius: 4px 0;
    padding-right: 0.75em;
    padding-top: 0.375em;
    padding-bottom: 0.375em;
    font-size: 1.2em;
}

.search__input:focus {
    animation: search__input 0.15s 1;
}

.search__btn {
    background-color: rgb(0,123,255);
    text-align: center;
    color: rgb(236,236,236);
}

@keyframes search__input:focus {
    0% { }
    50% {
        border-color: rgb(128,189,255);
    }
    100 { border-color: rgb(128,189,255); }
}

.user-right {
    display: inline;
    text-align: right;
}

/* Nav */

.main__nav {
    background-color: rgb(33,37,41);
    color: rgb(233,236,239);
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 8%;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: justify;
}

.nav__ul li{
    padding: 1em 1em 1em 1em;
    font-size: 1.2em;
    display: block;
}

.nav__ul li a {
    padding-left: 5%;
    color: rgb(233,236,239);
}

.nav__ul:focus {
    color: rgb(236,236,236);
}

/* Cards */

h1 {
    font-size: 1.2;
    font-weight: bold;
}

.main__breadcrumb {
    background-color: rgb(233,236,239);
    border-radius: 0.25em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-top: 1em;
}

section {
    margin-left: 20%;
}

.main__cards {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.main__card {
    padding: 5%;
    color: white;
}
.main__card--blue .card__top {
    background-color: rgb(0,123,255);
    border-radius: 0.25em 0.25em 0 0;
    border: 1px solid rgb(1, 107, 219);
    padding: 10%;
    font-size: 1.2em;
}
.main__card--blue .card__bottom {
    background-color: rgb(0,123,255);
    border-radius: 0 0 0.25em 0.25em;
    border: 1px solid rgb(1, 107, 219);
    padding: 6%;
    padding-left: 10%;
}
.main__card--yellow .card__top {
    background-color: rgb(255,193,7);
    border-radius: 0.25em 0.25em 0 0;
    border: 1px solid rgba(219, 166, 7);
    padding: 10%;
    font-size: 1.2em;
}
.main__card--yellow .card__bottom {
    background-color: rgb(255,193,7);
    border-radius: 0 0 0.25em 0.25em;
    border: 1px solid rgba(219, 166, 7);
    padding: 6%;
    padding-left: 10%;
}
.main__card--green .card__top {
    background-color: rgb(40,167,69);
    border-radius: 0.25em 0.25em 0 0;
    border: 1px solid rgb(29, 117, 49);
    padding: 10%;
    font-size: 1.2em;
}
.main__card--green .card__bottom {
    background-color: rgb(40,167,69);
    border-radius: 0 0 0.25em 0.25em;
    border: 1px solid rgb(29, 117, 49);
    padding: 6%;
    padding-left: 10%;
}
.main__card--red .card__top {
    background-color: rgb(220,53,69);
    border-radius: 0.25em 0.25em 0 0;
    border: 1px solid rgb(192, 48, 62);
    padding: 10%;
    font-size: 1.2em;
}
.main__card--red .card__bottom {
    background-color: rgb(220,53,69);
    border-radius: 0 0 0.25em 0.25em;
    border: 1px solid rgb(192, 48, 62);
    padding: 6%;
    padding-left: 10%;
}
